com.x.politicianinfo_vREST/src/main/webapp/wsdl/politicianservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PoliticianServiceService" targetNamespace="http://service.politicianinfo.x.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.politicianinfo.x.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.politicianinfo.x.com/" schemaLocation="politicianservice_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="addPolitician">
    <wsdl:part name="parameters" element="tns:addPolitician">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePolitician">
    <wsdl:part name="parameters" element="tns:deletePolitician">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPoliticianResponse">
    <wsdl:part name="parameters" element="tns:getPoliticianResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPolitician">
    <wsdl:part name="parameters" element="tns:getPolitician">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPoliticianResponse">
    <wsdl:part name="parameters" element="tns:addPoliticianResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePoliticianResponse">
    <wsdl:part name="parameters" element="tns:deletePoliticianResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PoliticianService">
    <wsdl:operation name="addPolitician">
      <wsdl:input name="addPolitician" message="tns:addPolitician">
    </wsdl:input>
      <wsdl:output name="addPoliticianResponse" message="tns:addPoliticianResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPolitician">
      <wsdl:input name="getPolitician" message="tns:getPolitician">
    </wsdl:input>
      <wsdl:output name="getPoliticianResponse" message="tns:getPoliticianResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePolitician">
      <wsdl:input name="deletePolitician" message="tns:deletePolitician">
    </wsdl:input>
      <wsdl:output name="deletePoliticianResponse" message="tns:deletePoliticianResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PoliticianServiceServiceSoapBinding" type="tns:PoliticianService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addPolitician">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPolitician">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPoliticianResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPolitician">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPolitician">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPoliticianResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePolitician">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePolitician">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePoliticianResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PoliticianServiceService">
    <wsdl:port name="PoliticianServicePort" binding="tns:PoliticianServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/com.x.politicianinfo/services/PoliticianServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
